body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
}

.logo-name {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

.logo-name-two {
    color: #2e2f42;
}

.navigation-name {
    text-decoration: none;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.navigation-name:hover,
.navigation-name:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    color: #434455;

}

.address-item,
.address-contact {
    text-decoration: none;
    color: #434455;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
}

.address-contact:hover,
.address-contact:focus {
    color: #404bbf;
}

.section-main {
    background: #2e2f42;
}

.section-main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
}

button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: #404BBF;
    color: #ffffff;
}

.properties-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.properties-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-specialists {
    background: #f4f4fd;
}

.specialists-title {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}

.specialist-item {
    background-color: #ffffff;
}

.specialist-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.specialist-job {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-title {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}

.portfolio-photo-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-photo-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background: #2e2f42;
}

.footer-logo-name-two {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
